body{
    background-color: wheat;
    font-family: Arial, sans-serif;
}
.profile-card{
    text-align: center;
    background-color: coral;
    width: 50%;
    margin-left: 20%;
    padding: 20px;
}
.profile-card img{
    max-width: 200px;
    border-radius: 50%;
}
